@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}

header { 
    border: 5px solid teal;
    padding: 15px;
    border-radius: 10px;
}

a {
    background-color: darkblue;
    padding: 10px;
    color: wheat;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 20px;
}

h1 {
    border: 5px purple solid;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    border: 5px solid purple;
    padding: 10px;
    border-radius: 10px;

}

nav {
    margin: 20px;
    padding: 20px;
}

.f1rst, div p {
    background-color: white;
    border: 5px solid darkblue;
    box-sizing: border-box;
    color: darkblue;
}

div p {
    border-radius: 10px;
    padding: 15px;
}

select {
    border: 5px solid darkblue;
    border-radius: 10px;
    color: darkblue;
    padding: 15px; 
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}

h2 {
    color: aquamarine;
    
}

main > img {
    border-radius: 10px;
    border: 5px solid purple;
}